In [1]:
import plotly.io as pio
import plotly.express as px
import webbrowser
import ast
import pandas as pd
import json
import sqlite3
pd.options.mode.chained_assignment = None # turn off warnings

In [2]:
#Connect to the database
con = sqlite3.connect(r'E:\dbl-group-3\database\sqlite-tools-win32-x86-3380300\database(620).db')

In [3]:
#load klm to df
query_klm = '''
    SELECT *
    FROM KLM_tweets
'''
df_klm = pd.read_sql_query(query_klm, con)

In [4]:
#a new df, only left tweet_id, place(which have geo info, and user id)
#in the new df, klm itself been removed, and tweet with no geo info has been removed.

df_place = df_klm[['id','place','user_id']]
df_without_sentiment = df_place[(df_place.user_id != "56377143") &
                                (df_place.place != '')]
df_without_sentiment = df_without_sentiment.reset_index(drop=True)
df_without_sentiment

,id,place,user_id
0,1.1311879981570949e+18,"{'id': '178a87b8e2eaa375', 'url': 'https://api...",51094833
1,1.1312121600073196e+18,"{'id': '90641f413e4ded3e', 'url': 'https://api...",75276130
2,1.1312169800721818e+18,"{'id': '07d9f04ee6c88000', 'url': 'https://api...",947859470440378369
3,1.1312450279953777e+18,"{'id': '8d8bfeeb687ef23f', 'url': 'https://api...",105086555
4,1.131282777612202e+18,"{'id': '5d838f7a011f4a2d', 'url': 'https://api...",947859470440378369
...,...,...,...
7237,1.2446572794351903e+18,"{'id': '7ee267188a000ade', 'url': 'https://api...",22965706
7238,1.2446725501033964e+18,"{'id': '7ee267188a000ade', 'url': 'https://api...",22965706
7239,1.2446738550730056e+18,"{'id': '0fc2a0016d55e000', 'url': 'https://api...",604479509
7240,1.244687179948929e+18,"{'id': '7dde0febc9ef245b', 'url': 'https://api...",133642410
7241,1.24469423979307e+18,"{'id': '99cdab25eddd6bce', 'url': 'https://api...",314566049

In [5]:
# in this cell we replace the place attribute with two letters country code

for i in range(len(df_without_sentiment)):
    var = df_without_sentiment["place"].iloc[i]
    var = ast.literal_eval(var)
    var = var["country_code"]
    df_without_sentiment["place"].iloc[i] = var

df_without_sentiment = df_without_sentiment[df_without_sentiment.place != ""]
df_without_sentiment

                          id place             user_id
0     1.1311879981570949e+18    ZA            51094833
1     1.1312121600073196e+18    NL            75276130
2     1.1312169800721818e+18    NL  947859470440378369
3     1.1312450279953777e+18    BE           105086555
4      1.131282777612202e+18    GB  947859470440378369
...                      ...   ...                 ...
7237  1.2446572794351903e+18    NL            22965706
7238  1.2446725501033964e+18    NL            22965706
7239  1.2446738550730056e+18    NL           604479509
7240   1.244687179948929e+18    IE           133642410
7241    1.24469423979307e+18    NL           314566049

[7218 rows x 3 columns]

In [6]:
# call sentiment table and put in to df called df_sentiment

query_sentiment = '''
    SELECT *
    FROM sentiment_table
'''
df_sentiment = pd.read_sql_query(query_sentiment, con)

In [7]:
#in this cell we merge the sentiment_score and sentiment from df_sentiment to df_without_sentiment and name it df_with_sentiment as a new df.

df_sentiment = df_sentiment.rename(columns={"label":"sentiment"})
df_with_sentiment = df_sentiment.merge(df_without_sentiment, on=["id"], how = "right")

In [8]:
# drop non english tweets by remove N/A under sentiment and sentiment_score attribute and sign it to a new df called df_with_sentiment_en.
df_with_sentiment_en = df_with_sentiment.dropna()

In [9]:
# in this cell we delete nonsense column
del df_with_sentiment_en[""]

In [10]:
df_with_sentiment_en

,id,sentiment,sentiment_score,place,user_id
0,1.1311879981570949e+18,Positive,0.9683897295035422,ZA,51094833
1,1.1312121600073196e+18,Neutral,-0.15734216198325157,NL,75276130
2,1.1312169800721818e+18,Positive,0.48351513501256704,NL,947859470440378369
3,1.1312450279953777e+18,Neutral,-0.08684195205569267,BE,105086555
4,1.131282777612202e+18,Neutral,0.030256107449531555,GB,947859470440378369
...,...,...,...,...,...
7204,1.24459973433924e+18,Neutral,0.06547986716032028,GB,116491970
7207,1.2446170245437153e+18,Positive,0.6995698623359203,SG,54869709
7211,1.2446455527736484e+18,Neutral,0.38217225670814514,NO,515199279
7212,1.2446553969351393e+18,Neutral,-0.20135974511504173,NL,726659041
7216,1.244687179948929e+18,Positive,0.7524030636996031,IE,133642410

In [11]:
## a dictionary, key is two letters country code and value is three letters country code
## we use this dictionary to change the two letters country code under place attribute to three letters country code
## three letters code will be used in later cell to drawing map.

convert_ISO_3166_2_to_1 = {
    'AF':'AFG',
    'AX':'ALA',
    'AL':'ALB',
    'DZ':'DZA',
    'AS':'ASM',
    'AD':'AND',
    'AO':'AGO',
    'AI':'AIA',
    'AQ':'ATA',
    'AG':'ATG',
    'AR':'ARG',
    'AM':'ARM',
    'AW':'ABW',
    'AU':'AUS',
    'AT':'AUT',
    'AZ':'AZE',
    'BS':'BHS',
    'BH':'BHR',
    'BD':'BGD',
    'BB':'BRB',
    'BY':'BLR',
    'BE':'BEL',
    'BZ':'BLZ',
    'BJ':'BEN',
    'BM':'BMU',
    'BT':'BTN',
    'BO':'BOL',
    'BA':'BIH',
    'BW':'BWA',
    'BV':'BVT',
    'BR':'BRA',
    'IO':'IOT',
    'BN':'BRN',
    'BG':'BGR',
    'BF':'BFA',
    'BI':'BDI',
    'KH':'KHM',
    'CM':'CMR',
    'CA':'CAN',
    'CV':'CPV',
    'KY':'CYM',
    'CF':'CAF',
    'TD':'TCD',
    'CL':'CHL',
    'CN':'CHN',
    'CX':'CXR',
    'CC':'CCK',
    'CO':'COL',
    'KM':'COM',
    'CG':'COG',
    'CD':'COD',
    'CK':'COK',
    'CR':'CRI',
    'CI':'CIV',
    'HR':'HRV',
    'CU':'CUB',
    'CY':'CYP',
    'CZ':'CZE',
    'DK':'DNK',
    'DJ':'DJI',
    'DM':'DMA',
    'DO':'DOM',
    'EC':'ECU',
    'EG':'EGY',
    'SV':'SLV',
    'GQ':'GNQ',
    'ER':'ERI',
    'EE':'EST',
    'ET':'ETH',
    'FK':'FLK',
    'FO':'FRO',
    'FJ':'FJI',
    'FI':'FIN',
    'FR':'FRA',
    'GF':'GUF',
    'PF':'PYF',
    'TF':'ATF',
    'GA':'GAB',
    'GM':'GMB',
    'GE':'GEO',
    'DE':'DEU',
    'GH':'GHA',
    'GI':'GIB',
    'GR':'GRC',
    'GL':'GRL',
    'GD':'GRD',
    'GP':'GLP',
    'GU':'GUM',
    'GT':'GTM',
    'GG':'GGY',
    'GN':'GIN',
    'GW':'GNB',
    'GY':'GUY',
    'HT':'HTI',
    'HM':'HMD',
    'VA':'VAT',
    'HN':'HND',
    'HK':'HKG',
    'HU':'HUN',
    'IS':'ISL',
    'IN':'IND',
    'ID':'IDN',
    'IR':'IRN',
    'IQ':'IRQ',
    'IE':'IRL',
    'IM':'IMN',
    'IL':'ISR',
    'IT':'ITA',
    'JM':'JAM',
    'JP':'JPN',
    'JE':'JEY',
    'JO':'JOR',
    'KZ':'KAZ',
    'KE':'KEN',
    'KI':'KIR',
    'KP':'PRK',
    'KR':'KOR',
    'KW':'KWT',
    'KG':'KGZ',
    'LA':'LAO',
    'LV':'LVA',
    'LB':'LBN',
    'LS':'LSO',
    'LR':'LBR',
    'LY':'LBY',
    'LI':'LIE',
    'LT':'LTU',
    'LU':'LUX',
    'MO':'MAC',
    'MK':'MKD',
    'MG':'MDG',
    'MW':'MWI',
    'MY':'MYS',
    'MV':'MDV',
    'ML':'MLI',
    'MT':'MLT',
    'MH':'MHL',
    'MQ':'MTQ',
    'MR':'MRT',
    'MU':'MUS',
    'YT':'MYT',
    'MX':'MEX',
    'FM':'FSM',
    'MD':'MDA',
    'MC':'MCO',
    'MN':'MNG',
    'ME':'MNE',
    'MS':'MSR',
    'MA':'MAR',
    'MZ':'MOZ',
    'MM':'MMR',
    'NA':'NAM',
    'NR':'NRU',
    'NP':'NPL',
    'NL':'NLD',
    'AN':'ANT',
    'NC':'NCL',
    'NZ':'NZL',
    'NI':'NIC',
    'NE':'NER',
    'NG':'NGA',
    'NU':'NIU',
    'NF':'NFK',
    'MP':'MNP',
    'NO':'NOR',
    'OM':'OMN',
    'PK':'PAK',
    'PW':'PLW',
    'PS':'PSE',
    'PA':'PAN',
    'PG':'PNG',
    'PY':'PRY',
    'PE':'PER',
    'PH':'PHL',
    'PN':'PCN',
    'PL':'POL',
    'PT':'PRT',
    'PR':'PRI',
    'QA':'QAT',
    'RE':'REU',
    'RO':'ROU',
    'RU':'RUS',
    'RW':'RWA',
    'BL':'BLM',
    'SH':'SHN',
    'KN':'KNA',
    'LC':'LCA',
    'MF':'MAF',
    'PM':'SPM',
    'VC':'VCT',
    'WS':'WSM',
    'SM':'SMR',
    'ST':'STP',
    'SA':'SAU',
    'SN':'SEN',
    'RS':'SRB',
    'SC':'SYC',
    'SL':'SLE',
    'SG':'SGP',
    'SK':'SVK',
    'SI':'SVN',
    'SB':'SLB',
    'SO':'SOM',
    'ZA':'ZAF',
    'GS':'SGS',
    'ES':'ESP',
    'LK':'LKA',
    'SD':'SDN',
    'SR':'SUR',
    'SJ':'SJM',
    'SZ':'SWZ',
    'SE':'SWE',
    'CH':'CHE',
    'SY':'SYR',
    'TW':'TWN',
    'TJ':'TJK',
    'TZ':'TZA',
    'TH':'THA',
    'TL':'TLS',
    'TG':'TGO',
    'TK':'TKL',
    'TO':'TON',
    'TT':'TTO',
    'TN':'TUN',
    'TR':'TUR',
    'TM':'TKM',
    'TC':'TCA',
    'TV':'TUV',
    'UG':'UGA',
    'UA':'UKR',
    'AE':'ARE',
    'GB':'GBR',
    'US':'USA',
    'UM':'UMI',
    'UY':'URY',
    'UZ':'UZB',
    'VU':'VUT',
    'VE':'VEN',
    'VN':'VNM',
    'VG':'VGB',
    'VI':'VIR',
    'WF':'WLF',
    'EH':'ESH',
    'YE':'YEM',
    'ZM':'ZMB',
    'ZW':'ZWE'
}

In [12]:
df_with_sentiment_en.replace({"place": convert_ISO_3166_2_to_1},inplace=True)

In [13]:
df_with_sentiment_en

,id,sentiment,sentiment_score,place,user_id
0,1.1311879981570949e+18,Positive,0.9683897295035422,ZAF,51094833
1,1.1312121600073196e+18,Neutral,-0.15734216198325157,NLD,75276130
2,1.1312169800721818e+18,Positive,0.48351513501256704,NLD,947859470440378369
3,1.1312450279953777e+18,Neutral,-0.08684195205569267,BEL,105086555
4,1.131282777612202e+18,Neutral,0.030256107449531555,GBR,947859470440378369
...,...,...,...,...,...
7204,1.24459973433924e+18,Neutral,0.06547986716032028,GBR,116491970
7207,1.2446170245437153e+18,Positive,0.6995698623359203,SGP,54869709
7211,1.2446455527736484e+18,Neutral,0.38217225670814514,NOR,515199279
7212,1.2446553969351393e+18,Neutral,-0.20135974511504173,NLD,726659041
7216,1.244687179948929e+18,Positive,0.7524030636996031,IRL,133642410

In [14]:
# Group countries together and take the mean of the sentiment score for each country and make a new df called df_grouped.
# in this cell we transfer the object to float in order to take the mean

df_with_sentiment_en["sentiment_score"] = df_with_sentiment_en.sentiment_score.astype(float)
df_grouped = df_with_sentiment_en.groupby('place', as_index=False)[['sentiment_score']].mean()
df_grouped

   place  sentiment_score
0    ABW        -0.774365
1    AND         0.977200
2    ARE        -0.366174
3    ARG        -0.020628
4    AUS        -0.293598
..   ...              ...
91   USA         0.003558
92   VGB        -0.803372
93   VNM        -0.660954
94   ZAF         0.245115
95   ZWE         0.119304

[96 rows x 2 columns]

In [15]:
## in this cell, we load geojson file, with have the info about location
world = json.load(open("countries.geo.json", 'r'))

In [16]:
# a new dictionary, key is the name of the country and value is the 3 letters code.

world_id_map = {}
for feature in world['features']:
    feature['id'] = feature['properties']['ISO_A3']
    world_id_map[feature['properties']['ADMIN']] = feature['id']

In [17]:
#transfer dictionary to df and name it df_country_code_list
df_country_code_list = pd.DataFrame(list(world_id_map.items()),columns = ["name", 'place'])

In [18]:
# expand the df_country_code_list with the corresponding sentiment score, and remove the country that no data.
df_final = df_country_code_list.merge(df_grouped, on="place", how = 'inner')
df_final

                        name place  sentiment_score
0                      Aruba   ABW        -0.774365
1                    Andorra   AND         0.977200
2       United Arab Emirates   ARE        -0.366174
3                  Argentina   ARG        -0.020628
4                  Australia   AUS        -0.293598
..                       ...   ...              ...
88  United States of America   USA         0.003558
89    British Virgin Islands   VGB        -0.803372
90                   Vietnam   VNM        -0.660954
91              South Africa   ZAF         0.245115
92                  Zimbabwe   ZWE         0.119304

[93 rows x 3 columns]

In [19]:
# run this cell if your notebook not able to find web browser, and change the necessary things if required (e.g. you do not use firefox)

url = input("Enter Website Url: ")
firefox_path = "C:\\Program Files\\Mozilla Firefox\\firefox.exe" #define the Path to firefox
webbrowser.register('firefox', None,webbrowser.BackgroundBrowser(firefox_path))
webbrowser.get('firefox').open_new_tab(url)

True

In [28]:
# use firefox to render a map.
pio.renderers.default = 'firefox'
pio.templates

Templates configuration
-----------------------
    Default template: 'plotly_dark'
    Available templates:
        ['ggplot2', 'seaborn', 'simple_white', 'plotly',
         'plotly_white', 'plotly_dark', 'presentation', 'xgridoff',
         'ygridoff', 'gridon', 'none']

In [31]:
# for the sake of the domo, draw an interactive map.
fig = px.choropleth(df_final,
                    locations="place",
                    geojson=world,
                    color='sentiment_score',
                    hover_name = "name",
                    template="plotly",
                    title="Sentiment distribution per country"
                    )
fig.show()

In [ ]:
# done